@media screen {

}

@page {
    size: 2245px 3179px;
}

@font-face {
    font-family: 'neodgm';
    src: url('Font/neodgm.ttf');
}

.border {
    border: 2px solid black;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    width: 2245px;
    height: 3179px;
    border: 1px solid black;
}