@media screen {

}

@page {
    size: 3508px 4967px;
}

@font-face {
    font-family: 'neodgm';
    src: url('Font/neodgm.ttf');
}

.border {
    border: 2px solid black;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    width: 3508px;
    height: 4967px;
    border: 2px solid black;
}